<%-include ("../partials/admin-header.ejs") %>



<div class="categories-and-search">
<div class="filter-container">
  <button class="category-button active" data-category="all">All</button>
  <button class="category-button" data-category="action">Action</button>
  <button class="category-button" data-category="rpg">RPG</button>
  <button class="category-button" data-category="indie">Indie</button>
</div>

<div class="search-product-container">
  <input name="search-product" type="search" id="search-product"  placeholder="Search" required />
        <button type="button">Search</button>
</div>

</div>

<%-include ("../partials/admin-footer.ejs") %>


  






      
<%-include ("../partials/admin-footer.ejs") %>