<%- include("../partials/admin-header.ejs") %>

<div class="profile-container">
  <div class="profile-card">
   <img src="/assets/admin-avatar.svg" alt="profile-icon-image" class="profile-icon-image">
    
    <div class="admin-details">
      <h3>Role: <%= admin.role.charAt(0).toUpperCase() + admin.role.slice(1) %></h3>
      
      <h3>Name: <%= admin.username %></h3>
      
      <form action="/logout" method="POST">
        <button type="submit" class="logout-btn">Logout</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/admin-footer.ejs") %>