<%- include("../partials/client-header.ejs") %>

<div class="profile-wrapper">
  <div class="profile-main-card custom-card">

    <div class="profile-avatar-container">
      <img src="/assets/user-avatar.svg" alt="avatar" class="profile-avatar">
    </div>
    <div class="profile-info-card">
      <h3>Role: <%= user?.role ? user.role.charAt(0).toUpperCase() + user.role.slice(1) : "Customer" %></h3>
      <h3>Name: <%= user?.username || username || "User" %></h3>

      <form action="/logout" method="POST">
        <button type="submit" class="profile-logout-btn exception">
          Log out
        </button>
      </form>
    </div>

  </div>

</div>


<%- include("../partials/client-footer.ejs") %>