<div class="side-nav-container custom-card">
  <nav class="side-nav">
     <ul class="side-nav-ul">
  <li class="side-nav-li">
    <a href="/admin" class="nav-link">
      <img class="nav-logo" src="/assets/games_product_logo.svg" alt="Products" />
      <span>Products</span>
    </a>
  </li>
  <li class="side-nav-li">
    <a href="/admin/orders" class="nav-link">
      <img class="nav-logo" src="/assets/orders_logo.svg" alt="Orders" />
      <span>Orders</span>
    </a>
  </li>
  <li class="side-nav-li">
    <a href="/admin/profile" class="nav-link">
      <img class="nav-logo" src="/assets/profile_admin_logo.svg" alt="Profile" />
      <span>Profile</span>
    </a>
  </li>
</ul>
  </nav>
</div>
