<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="/css/admin.css" />

    <title>admin</title>
  </head>
  <body>
    <div class="container">
      <div><%-include ("../partials/admin-side-nav.ejs") %></div>

      <div class="rightside-container">
        <div class="indierealm_banner custom-card"></div>
    
