<div class="side-nav-container custom-card">
  <nav class="side-nav">
    <ul class="side-nav-ul">
      <li class="side-nav-li">
        <img class="nav-logo" src="/assets/games_product_logo.svg" alt="O" />
        <a href="/admin"> products </a>
      </li>
      <li class="side-nav-li">
        <img class="nav-logo" src="/assets/orders_logo.svg" alt="O" />
        <a href="/admin/orders"> orders </a>
      </li>
      <li class="side-nav-li">
        <img class="nav-logo" src="/assets/profile_admin_logo.svg" alt="O" />
        <a href="/admin/profile"> profile </a>
      </li>
    </ul>
  </nav>
</div>
