<!DOCTYPE html>
<nav class="side-nav custom-card">
  <div class="side-nav__title">Indie Realm</div>

  <a class="side-nav__item" href="/customer">Game Store</a>
  <a class="side-nav__item" href="/customer/profile">Profile</a>
  <a class="side-nav__item" href="/customer/orders">My Orders</a>
  <a class="side-nav__item" href="/customer/checkout">Cart</a>

  <div class="side-nav__divider"></div>
</nav>