<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png">

    <!-- Shared theme -->
    <link rel="stylesheet" href="/css/shared.css" />
    <!-- Client styles -->
    <link rel="stylesheet" href="/css/client.css" />
    <!-- Order Detail Modal-->
    <link rel="stylesheet" href="/css/orderModal.css" />

    <!-- Client JS -->
    <!-- index.js safely exits unless on /customer (store page) -->
    <script src="/js/client/index.js" defer></script>
    <script src="/js/client/toaster.js" defer></script>

    <title><%= typeof title === "string" && title.trim() ? title : "Indie Realm" %></title>
  </head>

  <body>
    <div class="container">
      <%- include("../partials/client-side-nav.ejs") %>

      <div class="rightside-container">
        <%- include("../partials/top-nav-bar.ejs") %>